USE [master]
GO
/****** Object:  Database [mlps]    Script Date: 16-04-2021 09:44:54 ******/
CREATE DATABASE [mlps]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mlps', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mlps.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mlps_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mlps_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mlps].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mlps]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 16-04-2021 09:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1000,1) NOT NULL,
	[PropertyType] [varchar](50) NULL,
	[PropertyValue] [varchar](50) NULL,
	[Expected Loan Amount] [varchar](50) NULL,
	[LoanTenure] [int] NULL,
	[DateOfApplication] [varchar](50) NULL,
	[Aadhar] [varchar](50) NULL,
	[Pan] [varchar](50) NULL,
	[AccountNo] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[Status] [varchar](50) NULL,
	[OtherDocuments] [varchar](max) NULL,
	[Report] [varchar](max) NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 16-04-2021 09:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[name] [varchar](50) NOT NULL,
	[dob] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[address] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[contactNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16-04-2021 09:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[name] [varchar](50) NULL,
	[dateOfBirth] [varchar](50) NULL,
	[contactNumber] [varchar](10) NULL,
	[address] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
