@{ ViewBag.Title = "About"; }



<body style="background-color: #b0ebff">
    <div>
        <br />
        <h3 style="font-style:italic;font-weight:bold;font-size:40px;">Here to help you know about us</h3>
    </div>
    <div style="text-align:center;">

        <img src="~/logoWBG.png" height="200" width="200" />
        <br />
        <p style="font-size:20px; font-weight:400; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            We got our start in Spain,but we have been serving the customers in the Northeast since 2013.
            It's our mission to help you prosper.So we treat you and your money the way we all want to be treated with respect.
            How do we do it?With simple ways to spend,save and manage your money better.From teaching your high schooler to set up and use a
            checking account to helping you buy your first home,we'll be there,right by your side.Because,at Santander,we believe respecting you and
            your money is the first step on the journey to prosperity.
            Santander UK is one of the leading personal financial services companies in the United Kingdom, and one of the largest providers of mortgages and savings in the United Kingdom. The bank has circa 20,000 employees, 14 million active customers, 64 corporate business centres

        </p>
    </div>
    <hr />
    <br>
    <ul style="font-size:20px; font-family:'Segoe UI'" ;>

        <li>Type	 : Public limited company</li>
        <li>
            Industry   :	Finance and Insurance
        </li>
        <li>
            Founded   :	11 January 2010
        </li>
        <li>
            Headquarters   :	London, England, UK
        </li>
        <li>
            Key people   :	Nathan Bostock, CEO
        </li>
        <li>
            Products   :	Financial Services
        </li>
        <li>
            Revenue	   :  £5.420 billion
        </li>
        <li>

            Operating income   :	£2.425 billion
        </li>
        <li>
            Net income     :	£1,387 million
        </li>
        <li>
            Number of employees    :	25,872
        </li>
        <li>
            Parent     :	Santander Group
        </li>
        <li>
            Divisions   :	Cahoot
            Santander Corporate and Commercial Banking
            Santander Private Banking
        </li>
        <li>
            Subsidiaries   :	Abbey National Treasury Services
            Cater Allen
        </li>
        <li> Website   :	www.santander.co.uk</li>
    </ul>
    <br />
    </body>
