@{
    ViewBag.Title = "Contact";
}
<body background="~/BG.png">
    <address>
        Santander UK<br />
        Crystal Avenue, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        822-976-1555
    </address>
</body>