<html>
<head>
    <style>       

        .range {
            width: 100px;
            height: 15px;
            -webkit-appearance: none;
            background: #ffffff;
            outline: none;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
            text-align:center;
        }

        .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #2281f6;
            cursor: pointer;
            border: 4px solid #333;
            box-shadow: -407px 0 0 400px #2281f6;
        }
        .lable{
            font-size:25px;
            color:black;
            
        }

    </style>
</head>
<body background="~/BG.png">
    <div style="text-align:center">
        <h2>EMI Calculator</h2>
        <br />
        <br />
        <br />
    </div>
    <div style="text-align:center">
        <table>
            <tr>
                <td>
                    <br />
                    <label id="head" style="font-size:20px">Mortgage Loan Amount</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="amount" oninput='loanAmount.value = amount.value' value='100000' onchange="showUp()" style="border-radius:5px" /> Rs.
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <center>
                        <input class="range" id="loanAmount" type="range" value="100000" min="0"
                               oninput='amount.value=loanAmount.value' step="100000" max="50000000" onchange="showUp()" />
                    </center>
                    <br />
                    <br />
                    <label style="font-size:20px">Interest Rate</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="rate" oninput='interestRate.value = rate.value' value='6' style="border-radius:5px" onchange="showUp()" />%
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <center>
                        <input class="range" id="interestRate" type="range" value="6" min="1"
                               oninput='rate.value=interestRate.value' step="0.5" max="30" onchange="showUp()" />
                    </center>
                    <br />
                    <br />
                    <label style="font-size:20px">Loan Tenure</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="time" oninput='tenure.value = time.value' value='10' style="border-radius:5px" onchange="showUp()" />Yr.
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <center>
                        <input class="range" id="tenure" type="range" value="10" min="1"
                               oninput='time.value=tenure.value' step="0.5" max="30" onchange="showUp()" />
                    </center>
                </td>
                <td style="padding: 0px 0px 0px 350px">
                    <h4>Loan EMI</h4>
                    <h2 id="emi"></h2>
                    <p>-------------------------------------------------</p>                    
                    <h4>Total Interest Payable</h4>
                    <h2 id="interest"></h2>
                    <p>-------------------------------------------------</p>
                    <h4>
                        Total Payment
                    </h4>
                    <h4>(Principal + Interest)</h4>
                    <h2 id="total"></h2>
                </td>
            </tr>
        </table>

    </div>
    <script>
        function showUp() {
            var amount = document.getElementById("amount").value;
            var rate = document.getElementById("rate").value;
            var months = document.getElementById("time").value * 12;
            var n = 4;
            var interest = (amount * (rate * 0.01)) / months;
            var totalEMI = ((amount / months) + interest).toFixed(2);            
            var totalPayment = (amount * Math.pow((1 + (rate / (n * 100))), (n * (months / 12))));
            var interestAmount = totalPayment - amount;

            document.getElementById('emi').innerHTML = '₹ ' + totalEMI;
            document.getElementById('interest').innerHTML = '₹ ' +interestAmount.toFixed(0);
            document.getElementById('total').innerHTML = '₹ ' + totalPayment.toFixed(0);
        }        
        showUp();
    </script>

</body>
</html>