@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>    
    <style>
        .button {
            height: 40px;
            width: 150px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: dodgerblue;
            border-color: dodgerblue;
            border-radius: 10px;
           
            
        }

        .button2 {
            height: 40px;
            width: 450px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: indianred;
            border-color: indianred;
            border-radius: 10px
        }
        .button3 {
            height: 40px;
            width: 450px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color:darkolivegreen;
            border-color:darkolivegreen;
            border-radius: 10px
        }
    </style>
</head>
<body background="~/BG.png">
    <div style="text-align:center">
        <br />
        <h2 style="font-style:italic;font-weight:bold">Mortgage Loan Processing System</h2>
        <img src="~/logoWBG.png" height="200" width="200"/>
        </div>
        <div style="text-align:center">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
            <div>
                <label style="font-size:18px">UserName:</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" style="border-radius:10px" name="username" required />
                <br />
                <br />
                <label style="font-size:18px">Password:</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" style="border-radius:10px" name="password" required />
                <br />
                <br />
                <br />
                @Html.ActionLink("Forgot Password", "Index", new { id = "ForgotPassword" })
                <br />
                <br />
                @*<button class="button" onclick="">@Html.ActionLink("Sign In","Enquiry",new {Style="color:white;"})</button>*@
                <input type="submit" value="Sign In" class="button" />
            </div>
            }
        <div>
            <br />            
            <br />
            @using (Html.BeginForm("Enquiry", "Home",new { id="guest"}, FormMethod.Post))
            {
                <input type="submit" value="Continue as Guest" class="button2" formnovalidate />
            }
            <h4>Or</h4>
            @using (Html.BeginForm("userReg", "Home"))
            {
                <input type="submit" value="Register with us" class="button3" formnovalidate />
            }

        </div>
        
    </div>
        
</body>
</html>

